/* Right Information Rectangle */
.rightRectangle {
  width: 50vw;
  min-width: 900px; /* ESTO ES PROVISORIO PARA PROBAR EL PREVIEW */
  /* min-width: 360px;
    max-width: 800px; */
  /* height: 95vh; */
  /* max-height: 983px;
    min-height: 600px; */
  /* margin: 10px; */

  background: #39475f;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
