.InputWrapper {
  background-color: var(--main-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  margin: auto;
  width: 300px;
  /* border: 1px solid red; */
}

.InputWrapper label {
  font-size: 1rem;
  text-align: left;
  /* border: 1px solid red; */
}

.InputWrapper p {
  color: var(--label-color);
  max-width: 300px;
  margin-top: 0.5rem;
  /* border: 1px solid red; */
}

.InputControls {
  align-items: center;
  border: 2px solid var(--control-border);
  border-radius: 15px;
  border-top-left-radius: 0px;
  display: flex;
  flex-direction: row;
  /* gap: 5px; */
  width: 300px;
  padding: 10px;
  /* border: 1px solid red; */
}

.InputIcon {
  font-size: 1.5rem;
  /* border: 1px solid red; */
}

.InputControl {
  background-color: transparent;
  border: unset;
  color: var(--control-border);
  font-size: 1rem;
  height: 100%;
  width: 300px;
  width: 100%;
  /* border: 1px solid red; */
}

.InputControl:active,
.InputControl:focus,
.InputControl:focus-visible,
.InputControl:focus-within {
  border-color: transparent;
  outline: unset;
}

.InputControl:-webkit-autofill {
  background-color: transparent;
}

.InputControls:focus-within {
  border-color: var(--primary-color);
}
