.profile-banner {
  /* background-image: url('./7.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 400px;
  min-height: 200px;
  max-height: 400px;
  object-fit: contain;
  /* contain, cover ,scale down */
  border-radius: 15px 15px 0 0;
}

.profile-photo {
  width: 200px;
  min-height: 270px;
  height: auto;
  /* border: 1px solid pink; */
  position: relative;
  top: 300px;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-photo img {
  width: 100%;
  max-width: 300px;
  height: 198px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 100%;
  margin-bottom: 5px;
  object-fit: cover;
}

.add-photo-profile {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 100%;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: #644ad4;
  color: #c4c4c4;
  position: absolute;
  right: 12px;
  top: 150px;
  transition: all 0.5s ease-out;
}
.add-photo-profile:hover {
  transform: rotate(180deg);
  background-color: #7561cb;
}

.add-photo-banner:hover {
  transform: rotate(180deg);
  background-color: #7561cb;
}

.add-photo-banner {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 100%;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: #644ad4;
  color: #c4c4c4;
  position: relative;
  left: 85%;
  bottom: -30%;
  transition: all 0.5s ease-out;
}

.fullname--text {
  text-align: center;
  word-break: break-word;
}