div.input {
	background-color: var(--main-background);
	display: flex;
	flex-direction: column;
	gap: 2px;
	justify-content: space-around;
	padding: 2px;
}

label {
	font-size: 1.1rem;
	text-align: left;
}

div.controls {
	align-items: center;
	background-color: var(--main-background);
	border: 2px solid var(--control-border);
	border-radius: 15px;
	border-top-left-radius: 0px;
	display: flex;
	filter: drop-shadow(0px 4px 4px black);
	flex-direction: row;
	gap: 5px;
	min-width: 300px;
	padding: 10px;
	transition: border 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	width: 100%;
}
label.icon {
	font-size: 1.5rem;
}
textarea.control {
	background-color: transparent;
	border: unset;
	color: var(--control-border);
	font-family: var(--font-family);
	font-size: 1.2rem;
	height: 100%;
	min-height: 30px;
	min-width: 250px;
	max-width: 300px;
	width: 100%;
}
textarea.control:active,
textarea.control:focus,
textarea.control:focus-visible,
textarea.control:focus-within {
	border-color: transparent;
	outline: unset;
}

textarea.control:-webkit-autofill {
	background-color: transparent;
}

div.controls:focus-within {
	border-color: var(--primary-color);
}
