.List {
    max-height: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    overflow-y: scroll;
    margin: 50px 0px;
}

.ListItem {
    display: flex;
    padding: 5px;

}

.ListItem:hover {
    text-decoration: line-through;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.5);
}