.leftRectangle {
	width: 50vw;
	height: 95vh;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap:40px;

	/* min-width: 360px;
    max-width: 800px; */
	/* max-height: 983px;
    min-height: 600px; */
	/* margin: 10px; */ 

	/*background: #39475F;*/
	/* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */
}
