.ButtonOutline {
  align-items: center;
  background-color: var(--main-background);
  border-radius: 10px;
  border: 2px solid var(--control-border);
  color: var(--main-color);
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  flex-direction: row;
  font-size: 1.2rem;
  /* gap: 10px; */
  justify-content: center;
  width: 300px;
  padding: 8px;
  margin-bottom: 0.5rem;
  transition: filter 0.1s ease-in-out, border 0.1s ease-in-out,
    color 0.1s ease-in-out;
  width: 100%;
}

.ButtonOutline:active {
  filter: brightness(90%) drop-shadow(0px 2px 4px rgba(0, 0, 0, 0, 0.25));
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.ButtonOutline:hover {
  filter: brightness(110%);
}

.ButtonOutline:disabled {
  filter: brightness(50%);
}
