*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --main-background: #222e46;
  --main-color: #c7c7c7;
  --primary-color: #644ad4;
  --control-border: #c7c7c7;
  --label-color: #a2a2a2;
  --font-family: 'Monserrat', Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: var(--main-background);
  color: var(--main-color);
  font-family: var(--font-family);
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}

::placeholder {
  color: #bec4dc;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bec4dc;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bec4dc;
}

input[type='file'] {
  display: none;
}
