/* div.input {
	background-color: var(--main-background);
	display: flex;
	flex-direction: column;
	gap: 2px;
	justify-content: space-around;
	padding: 2px;
	user-select: none;
}

label {
	font-size: 1.1rem;
	text-align: left;
}

div.controls {
	align-items: center;
	border: 2px solid var(--control-border);
	border-radius: 15px;
	border-top-left-radius: 0px;
	display: flex;
	filter: drop-shadow(0px 4px 4px black);
	flex-direction: row;
	gap: 5px;
	min-width: 300px;
	max-width: 300px;
	padding: 10px;
	overflow: hidden;
	transition: border 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	width: 100%;
}
label.icon {
	font-size: 1.5rem;
}
input.control {
	background-color: transparent;
	border: unset;
	color: var(--control-border);
	font-size: 1.2rem;
	height: 100%;
	min-width: 200px;
	max-width: 300px;
	width: 90%;
}
input.control:active,
input.control:focus,
input.control:focus-visible,
input.control:focus-within {
	border-color: transparent;
	outline: unset;
}

input.control:-webkit-autofill {
	background-color: transparent;
}

div.controls:focus-within,
div.controls.filled {
	border-color: var(--primary-color);
}

.file-button {
	align-items: center;
	text-align: right;
	background-color: var(--primary-color);

	display: flex;
	flex-direction: row;
	height: 100%;
	padding: 10px;
	position: absolute;
	right: 0px;
	width: auto;
}

.file-button:hover {
	filter: brightness(110%);
}

.file-button:active {
	filter: brightness(90%);
} */
