.btn-login {
    align-items: center;
    background-color: var(--main-background);
    border-radius: 35px;
    border: 1px solid var(--control-border);
    color: var(--main-color);
    display: flex;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    flex-direction: row;
    font-size: 1rem;
    /* gap: 10px; */
    justify-content: center;
    width: 200px;
    padding: 5px;
    transition: filter 0.1s ease-in-out, border 0.1s ease-in-out,
      color 0.1s ease-in-out;
    width: 100%;
    margin-top: 3px;
}

.btn-login:active {
filter: brightness(90%) drop-shadow(0px 2px 4px rgba(0, 0, 0, 0, 0.25));
border-color: var(--primary-color);
color: var(--primary-color);
}

.btn-login:hover {
filter: brightness(110%);
}

.btn-login:disabled {
filter: brightness(50%);
}