.modal-backdrop.show {
    opacity: .7;
}
.modal-content{
    background-color: var(--main-background);
    border-radius: 5px;
}
.btn-modal{
    background-color: var(--main-background);
    color: var(--label-color);
    border:none;
}
.btn-modal:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) brightness(110%);
    background-color: #644ad4;
}
.modal-header{
    border-bottom: 1px solid var(--primary-color);
    letter-spacing: 0.2rem;
}
.modal-p{
    font-weight: 200;
    font-size: 0.9rem;
}