
.nav, .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav {
    position: absolute;
    background-color: #39475f;
    font-family: var(--font-family);
    left:0;
    padding: 5px;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
    margin-left: 1em;
}
.menu {
    margin: 0;
    padding: 0;
    display: none;
    overflow: hidden;
    transition: 0.5s;
}
.nav-item{
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 700;
    color: var(--main-color);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.nav input:checked ~ .menu {
    display: flex;
}
.menu li {
    list-style: none;
}
.dropdown-item{
    color: var(--main-color);
}
.dropdown-item:hover{
    background-color: #39475f;
}
.menu li {
    text-decoration: none;
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}
.menu li :hover {
    color: #161919;
    text-decoration: none;
}
.separated:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) brightness(110%);
}

.nav input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}
.separated{
    color: var(--primary-color);
}
.nav span {
    position: absolute;
    left: 15px;
    width: 20px;
    height: 4px;
    border-radius: 50px;
    background-color: var(--main-color);
    pointer-events: none;
    transition: 0.5s;
}
.nav input:checked ~ span {
    background-color:  var(--primary-color);
}
.nav input:checked ~ .last-span {
    display: none;
}
.nav span:nth-child(2) {
    transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
    transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}