.ButtonSolid {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  color: var(--main-color);
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  flex-direction: row;
  font-size: 1.2rem;
  /* font-weight: 600; */
  /* gap: 10px; */
  justify-content: center;
  width: 300px;
  padding: 8px;
  margin-bottom: 0.5rem;
  transition: filter 0.1s ease-in-out, transform 0.1s ease-in-out;
  width: 100%;
}

.ButtonSolid:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) brightness(110%);
}

.ButtonSolid:active {
  filter: brightness(90%);
}

.ButtonSolid:disabled {
  filter: brightness(50%);
}
