.AboutProfile {
  padding: 10px;
  max-width: 600px;
  width: auto;
  right: 0;
  /* position: absolute; */
  margin-left: 250px;
  margin-bottom: 100px;
  color: #c4c4c4;
}
.AboutProfile h2 {
  font-weight: 600;
  color: #f1f1f1;
}

.about--text {
  word-break: break-word;
}