.Checkbox {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: auto;
}

.Checkbox > div.tick {
	align-items: center;
	border-radius: 10px;
	border: 2px solid var(--control-border);
	color: transparent;
	display: flex;
	flex-direction: row;
	font-size: 1.3rem;
	justify-content: center;
	margin-right: 5px;
	padding: 5px;
	transition: color 0.5s ease-in-out, border 0.6s ease-in-out;
}

.Checkbox > div.tick:hover {
	border-color: var(--primary-color);
}

.Checkbox > div.tick.checked {
	color: var(--primary-color);
	border-color: var(--primary-color);
}

.Checkbox > span.label {
	max-width: 100%;
	white-space: pre;
}
