.single-page-container{
	height: 95vh;
	border-radius: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	width: 90%;
}
.single-page-title{
	font-weight: 800;
	margin: 15px;
}
.single-page-title::after{
	content: "";
	height: 4px;
	width: 50%;
	display: block;
	background-color: var(--primary-color);
}
.single-page-description{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}
.single-page-text{
	font-size: 1.2em;
	font-weight: 200;
	padding: 10px;
}
.ButtonOutlineSingle {
	width: 20%;
	margin-bottom: auto;
	align-items: center;
	background-color: var(--main-background);
	border-radius: 10px;
	border: 2px solid var(--control-border);
	color: var(--main-color);
	display: flex;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	flex-direction: row;
	font-size: 1.2rem;
	justify-content: center;
	padding: 8px;
	margin-bottom: 0.5rem;
	transition: filter 0.1s ease-in-out, border 0.1s ease-in-out,
	  color 0.1s ease-in-out;
}

a{
	color: var(--main-color)
}
a:hover{
	text-decoration: none;
	color: var(--primary-color-color);
}

.ButtonOutlineSingle:active {
	filter: brightness(90%) drop-shadow(0px 2px 4px rgba(0, 0, 0, 0, 0.25));
	border-color: var(--primary-color);
	color: var(--primary-color);
}
.ButtonOutlineSingle:hover {
	filter: brightness(110%);
}
.ButtonOutlineSingle:disabled {
	filter: brightness(50%);
}
.contact-social-container{
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly
}
.social-media{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.contact-social{
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 0;
}
.contact-social li{
	font-size: 0.8em;
	padding: 10px;
}
.contact-social:hover{
	color: var(--primary-color)
}
.title-social{
	font-size: 1em;
	margin-bottom: 1em;
}