.sectionProfileWrapper {
  border-top: 0.5px solid #222e46;
  border-radius: 2px;
  padding: 15px 10px 10px;
  margin: auto;
  width: 95%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.sectionProfileWrapper img {
  height: 100px;
  min-width: 180px;
  margin-right: 10px;
  border-radius: 5px;
  object-fit: cover;
}
.sectionProfileWrapper .header {
  position: absolute;
  margin-top: -25px;
  margin-left: 10px;
  /* color: white; */
  /* background: cadetblue; */
  font-weight: 600;
  border-radius: 10px;
  padding: 2px 10px;
}

.sectionProfileContentWrapper {
  display: flex;
  /* border: 1px solid pink; */
  margin-bottom: 15px;
}
.sectionProfileContentWrapper img {
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.sectionProfileContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* ESTAS SOMBRAS TENDRIAMOS QUELLEVARLAS A UN CSS CENTRAL*/
.shadow-lg {
  box-shadow: rgba(0, 0, 0, 0.16) 2px 2px 4px;
}

.shadow-md {
  box-shadow: rgba(0, 0, 0, 0.16) 2px 2px 4px;
}

.shadow-sm {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.shadow-img {
  filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.16));
}
